li:hover {
  background-color: #118659;
  border-radius: 5px;
}

li:hover a {
  color: whitesmoke !important;
}

.aktif {
  color: rgb(78, 148, 209) !important;
  font-weight: bold;
}

.carousel-item {
  height: 670px;
}

.carousel-item img {
  margin-top: -120px;
}

.carousel-item .display-4 {
  margin-top: -440px;
}

